@import '../../style/variables.scss';
.upper-part {
    background-color: $blue-color;
    color:#fff;
    font-size: 14px;
    
    border-bottom: 1px solid rgb(170, 170, 170);
    p {
        margin: 0;
        padding: 0;
    }
    .sb {
        @media (max-width: 575px) {
            width: 50%;
        }
    }
}
.main-header {
    background-color: $blue-color;  
    .search-bar {
        select {
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            border-left: none;
            margin-left: -10px;
        }
        input {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 15px;
            border-top-left-radius: 15px;
        }
    } 
}
.navbar {
    .drop-menu {
        display: none;
         z-index: 1;
    }
    .dropdown:hover > .drop-menu {
        display: block;
    }
    .title {
        cursor: pointer;
    }   
}
.sidebar-content {
    background-color: rgba(#000, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    .sidebar-menu {
        width: 250px;
        background: #fff;
        height: 100%;
        padding-top: 20px;
        position: absolute;
        right: -250px;
        transition: all .3s ease-in-out;
    }
    
}
.open {
    right:0;
    z-index : 999999;
    .sidebar-menu {
        right: 0;
    }
}
